extends layout

block content
  .contentTitle !{title}
  .createDeleteButtons 
    a.seeProdBtn(href="/catalog/category/create") Add a category here

  if categories && categories.length
    .categories 
      each category in categories 
        a.categoryContainer(href=category.url)
          .categoryName #{category.name}
          .categoryDesc #{category.description}
  else
    div No hay ninguna categoria, agrega una!